<div class="container-fluid">
  <div class="row minh-100">
    <nav class="col-2 p-0 m-0 panel-background-color">
      <i class="material-icons md-inactive md-12 pl-2 icon-btn">autorenew</i>
      <h6 class="sidebar-heading justify-content-between align-items-center px-3 mt-1 mb-1 text-muted font-weight-light">
        <span>Exercises</span>
      </h6>
      <ul class="nav flex-column">
        <li class="nav-item" *ngFor="let exercise of exercises">
          <a
            class="nav-link exercise-item"
            [class.active]="exercise.id === selectedExerciseId"
            (click)="onExerciseSelected(exercise)"
          >{{ exercise.title }}</a>
        </li>
      </ul>
    </nav>
    <div class="col-10 p-0 m-0">
      <div class="panel panel-default">
        <div class="panel-heading text-right panel-background-color">
          <span class="text-btn pr-2" (click)="onTrainKataClick()">train</span>
        </div>
        <div class="panel-body">
          <div class="px-3 py-3" style="background-color: white" [innerHTML]="exerciseText"></div>
        </div>
      </div>
    </div>
  </div>
</div>
