<div class="container-fluid">
  <div class="row">
    <nav class="col-2 p-0 m-0 panel-background-color">
      <h6 class="sidebar-heading justify-content-between align-items-center px-3 mt-1 mb-1 text-muted font-weight-light">
        <span>Files</span>
      </h6>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link exercise-item">filename</a>
        </li>
      </ul>
    </nav>
    <div class="col-10 p-0 m-0">
      <div class="panel panel-default">
        <div class="panel-heading text-right panel-background-color">
          <span class="text-btn pr-2" (click)="onSubmitKataClick()">submit</span>
        </div>
        <div class="panel-body">
          &nbsp;
        </div>
      </div>
    </div>
  </div>
</div>
